.App {
  display: flex;
  text-align: center;
}

.fam{
  width: 25vw;
  height: 100vh;
  background: rgb(203, 161, 241);
}

.family-list{
  display: flex;
  margin-left: 2vw;
}

.family-button{
  background: none;
  border: none;
  font-size: 30px;
}