.App {
  display: flex;
  text-align: center;
}

.fam{
  width: 25vw;
  height: 100vh;
  background: rgb(203, 161, 241);
}

.family-list{
  display: flex;
}

.family-button{
  background: none;
  border: none;
  font-size: 15px;
}

.fam-input{
  width: 50px;
  background: none;
  border: purple solid 1px;
}

.fam-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-button{
  display: flex;
  justify-content: flex-start;
}