.App {
  display: flex;
  text-align: center;
}

* {
  background: black;
  color: lawngreen;
}

.fam{
  width: 25vw;
  height: 100vh;
  border-right: solid lawngreen 1px;
}

.family-list{
  display: flex;
}

.family-button{
  background: none;
  border: none;
  font-size: 15px;
  outline: none;
}

.fam-input{
  width: 50px;
  background: none;
  border: lawngreen solid 1px;
  outline: none;
}

.fam-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-button{
  display: flex;
  justify-content: flex-start;
  outline: none;
}

.week{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: solid lawngreen 1px;
  width: 75vw;
  height: 200px;
}

.each-first-week{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.each-second-week{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.week-style{
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  background: none;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: solid lawngreen 1px;

}

.on-trail{
  font-size: 30px;
}

.next-btn{
  background: none;
  font-size: 40px;
  border-radius: 10px;
  border: solid lawngreen 1px;
  outline: none;
}

.week-events-style{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.done-size{
  font-size: 60px;
  margin-top: 50px;
  width: 70vw;

}

.rand-event-style{
  width: 50vw;
}